/* 여백 초기화 */
body,
div,
dl,
dd,
dt,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
fieldset,
form,
legend,
p,
blockquote,
th,
td,
input,
button,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

/* 시멘틱 태그 초기화 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* 폰트 초기화 */
body,
button,
input,
select,
table,
textarea {
  color: #222;
  font-family: "IMHyemin", "AppleSDGothicNeo-Regular", "Malgun Gothic", "맑은 고딕", dotum, 돋움;
  font-size: 16px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 가로모드 초기화 */
html {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* 링크 초기화 */
a {
  text-decoration: none;
  color: #000;
}

/* 목록 초기화 */
li,
ol,
ul {
  list-style: none;
}

/* 제목 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 폰트 스타일 초기화 */
em,
address {
  font-style: normal;
}

/* 이미지 초기화 */
img {
  width: 100%;
  vertical-align: top;
}

/* 보더 초기화 */
img,
fieldset,
button {
  border: 0;
}

/* 클리어픽스 */
.clearfix {
  zoom: 1;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  line-height: 0;
}
.clearfix::after {
  clear: both;
}

/* 블라인드 효과 */
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* 이미지 대체(ir) 효과 */
.ir {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 스킵메뉴 */
/* #skip a {
  position: absolute;
  left: 10px;
  top: -92px;
  z-index: 100000;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  background: #000;
  font-family: "Chosunilbo_myungjo";
  transition: none;
}

#skip a:focus,
#skip a:active {
  top: 20px;
  transition: all 0.6s ease;
} */

/* 간격 세팅 */

.mt0 {
  margin-top: 0;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}
.mt60 {
  margin-top: 60px;
}
.mt70 {
  margin-top: 70px;
}
.mt80 {
  margin-top: 80px;
}
.mt90 {
  margin-top: 90px;
}
.mt100 {
  margin-top: 100px;
}

.pt0 {
  padding-top: 0;
}
.pt10 {
  padding-top: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pt30 {
  padding-top: 30px;
}
.pt40 {
  padding-top: 40px;
}
.pt50 {
  padding-top: 50px;
}
.pt60 {
  padding-top: 60px;
}
.pt70 {
  padding-top: 70px;
}
.pt80 {
  padding-top: 80px;
}
.pt90 {
  padding-top: 90px;
}
.pt100 {
  padding-top: 100px;
}
.pt200 {
  padding-top: 200px;
}
