@import "../assets/fonts.css";
@import "../assets/reset.css";
@import "../assets/monster.css";

#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  color: #f7e8d6;
  font-size: 1.5vw;
  font-family: "BMJua";
  box-sizing: border-box;
  padding: 10px 20px;
}
#header h1 {
  font-size: 1.5vw;
  cursor: pointer;
}
#header nav {
  display: flex;
}
#header nav li a {
  color: #f7e8d6;
  padding: 2vw;
}
#header nav li:last-child a {
  color: #f7e8d6;
  padding-right: 0vw;
}
/* section1 */
.section1 .sec1 {
  position: relative;
  background-color: #107531;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section1 .sec1__decoration {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #1b9142;
  z-index: 0;
  font-size: 8vw;
  line-height: 1.1;
  text-transform: uppercase;
  font-family: "OKDdung";
}
.section1 .sec1__decoration div:nth-child(odd) {
  margin-left: -5vw;
}
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100vh;
}
.section1 .sec1__img {
  width: 30vw;
  height: 30vw;
  z-index: 10;
  position: fixed;
  transition: all 0.3s;
}
.section1 .sec1__img:hover {
  width: 32vw;
  height: 32vw;
}
.section1 .sec1__img img {
}
/* .section1 .sec1__img__decoration {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
}
.section1 .sec1__img__decoration .eye__white {
  background-color: #fff;
  max-width: 135px;
  max-height: 135px;
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
}
.section1 .sec1__img__decoration .eye__white.left {
  position: relative;
}
.section1 .sec1__img__decoration .eye__white.right {
  position: relative;
  margin-top: 10%;
}
.section1 .sec1__img__decoration .eye__black {
  max-width: 60px;
  max-height: 60px;
  width: 3.5vw;
  height: 3.5vw;
  left: 50%;
  transform: translateX(-50%);
  background-color: #46152a;
  border-radius: 50%;
  position: absolute;
}
.section1 .sec1__img__decoration .eye {
  max-width: 25px;
  max-height: 25px;
  background-color: #fff;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
} */
.section1 .sec2 {
  background-color: #1b9142;
  position: relative;
  z-index: 10;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: none;
  overflow: hidden;
  clear: 
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.section1 .sec2 h2 {
  justify-content: center;
  font-family: "OKDdung";
  color: #f7e8d6;
  font-size: 7vw;
  margin-bottom: 20px;
  line-height: 1.2;
  display: flex;
}
.section1 .sec2 h2 span {
  display: block;
  /* opacity: 1;
  transform: scale(1.2); */
}
.section1 .sec2 .arrow {
  width: 3%;
  margin: 0 auto;
}
/* .section1 .sec2 .arrow {
  background-image: url("data:image/svg+xml,%3Csvg width='90' height='123' viewBox='0 0 90 123' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_325_112)'%3E%3Cpath d='M44.996 16.4477L77.8393 0.152604C78.9288 -0.387948 80.1526 0.591216 79.8691 1.77652L62.965 72.4117C62.7 73.5192 63.7636 74.4813 64.8351 74.1031L88.0828 65.8967C89.4488 65.4144 90.585 67.0359 89.6697 68.1612L45.4927 122.471C44.914 123.183 43.8275 123.175 43.2585 122.456L0.317902 68.1543C-0.578752 67.0204 0.568871 65.4184 1.92667 65.9086L24.5068 74.0595C25.5901 74.4506 26.6678 73.4661 26.3806 72.3482L8.247 1.80101C7.94202 0.614475 9.16235 -0.386213 10.2615 0.149127L43.7339 16.4523C44.1327 16.6465 44.5986 16.6448 44.996 16.4477Z' fill='%23F7E8D6' stroke='%23F7E8D6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_325_112'%3E%3Crect width='90' height='123' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90px;
  height: 123px;
  margin: 20px auto;
} */
.section1 .sec2 #monsters {
  transition: all 0.3s;
  width: 60%;
  padding-top: 8%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.section1 .sec2 #monsters a {
  cursor: none;
  position: relative;
}
.section1 .sec2 #monsters a:hover .bubble {
  display: block;
  top: -40%;
  opacity: 1;
}
.section1 .sec2 #monsters a .bubble{
  width: 60%;
  position: absolute;
  transition: all 0.3s;
  left: 20%;
  top: -30%;
  display: none;
}
.section1 .sec2 #monsters .monster1 div{
  position: relative;
  bottom: 4%;
  z-index: 5;
}
/* .section1 .sec2 #monsters a:nth-child(1).monsters:hover {
  transform: scale(1.2) !important;
}
.section1 .sec2 #monsters a:nth-child(2).monster:hover {
  transform: scale(1.2) !important;;
}
.section1 .sec2 #monsters a:nth-child(3).monsters:hover {
  transform: scale(1.2) !important;;
} */
/* .section1 .sec2 .finger {
  display: block;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='268' height='311' viewBox='0 0 268 311' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M60.5 153L156 90' stroke='black'/%3E%3Cpath d='M37.0395 80.6919C32.7596 85.2409 27.5013 90.4981 26.573 96.9728C25.9134 101.573 49.5999 137.371 59.8895 151.676L155.735 89.4008C145.691 72.7856 125.328 40.8581 121.013 35.9445C116.037 30.2771 107.177 25.216 100.191 30.5875C98.5565 31.8445 97.363 33.4376 96.0747 35.0223C88.5881 30.1122 74.7962 28.1565 73.6846 40.1419C71.9517 37.8462 69.9419 35.4586 67.1358 34.5314C59.5695 32.0301 49.717 38.779 49.678 46.7994C43.5789 37.3264 37.6196 27.7569 31.1644 18.5162C27.971 13.9449 25.0591 8.54564 20.6471 5.01018C11.6015 -2.23904 2.26663 11.8459 3.0456 19.8786C3.80619 27.714 9.70251 36.666 13.8871 43.119C21.8819 55.4466 29.3629 68.1665 37.0395 80.6919Z' fill='%23FFEDD7' stroke='%23222222' stroke-width='4.58579' stroke-miterlimit='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M36.9531 78.9999C41.8911 87.5012 48.4031 95.1137 53.3021 103.665' stroke='%23222222' stroke-width='4.58579' stroke-miterlimit='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M79.7638 140.425C71.8392 145.239 63.4478 149.214 56.4844 155.483C60.7317 162.533 64.8252 169.495 69.6285 176.494L173.796 108.507C169.24 101.495 163.728 93.4111 160.387 87.8823C140.312 99.4978 121.622 113.532 101.946 125.766C94.4205 130.446 87.3267 135.831 79.7638 140.425Z' fill='%23F7E8D6' stroke='%23222222' stroke-width='4.58579' stroke-miterlimit='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M144.777 308.12C130.288 287.035 76.9185 208.809 63.8437 179.769C85.2415 168.124 104.219 152.726 124.809 139.889C143.96 127.949 163.643 116.285 182.314 103.576C186.688 115.268 249.671 207.957 264.82 236.363' fill='%231B9142'/%3E%3Cpath d='M144.777 308.12C130.288 287.035 76.9185 208.809 63.8437 179.769C85.2415 168.124 104.219 152.726 124.809 139.889C143.96 127.949 163.643 116.285 182.314 103.576C186.688 115.268 249.671 207.957 264.82 236.363' stroke='%23222222' stroke-width='4.58579' stroke-miterlimit='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  width: 260px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: absolute;
  bottom: -120px;
  right: 0;
} */
.section1 .sec2 .shadow__top {
  position: absolute;
  width: 80%;
  left: 10%;
  z-index: 1;
  bottom: 3%;
}
.section1 .sec2 .shadow__bottom {
  position: absolute;
  z-index: 10;
  width: 80%;
  left: 10%;
  bottom: 0;
}
.section1 .sec2 .finger {
  z-index: 10;
  user-select: none;
  width: 10%;
  position: absolute;
  left: 0;
  top: 0;
}

/* section2 */
.section2 .sec1 {
  background-color: #1b9142;
  height: 100vh;
  display: flex;
  z-index: 10;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section2 .sec1 .box {
  position: relative;
  width: 70%;
}
.section2 .sec1 #monsters {
  width: 30% !important;
  left: 0;
  right: 0;
  z-index: 1;
  position: absolute;
  top: -25%;
  margin: 0 auto;
}
.section2 .sec1 h2 {
  color: #f7e8d6;
  font-family: "OKDdung";
  text-align: center;
  z-index: 2;
  position: relative;
  margin-top: 160px;
  margin-bottom: 30px;
  font-size: 9vw;
}
.section2 .sec1 p {
  z-index: 2;
  color: #f7e8d6;
  position: relative;
  font-size: 1.5vw;
  text-align: center;
  font-family: "BMJua";
}
.section2 .sec1 .box p span {
  opacity: 0;
}
.section2 .sec1 p span {
  min-width: 0.5vw;
}
.section2 .sec2 {
  /* .section2 .sec3,
.section2 .sec4,
.section2 .sec5,
.section2 .sec6 { */
  background-color: #1b9142;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
}
.section2 .site {
  position: sticky;
  top: 0;
  background-color: #f7e8d6;
  border: 3px solid #1b9142;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 5% auto;
  padding: 5%;
  display: flex;
  flex-direction: column;
}
.section2 .site.site2 {
  top: 3%;
}
.section2 .site.site3 {
  top: 6%;
}
.section2 .site.site4 {
  top: 9%;
}
.section2 .site.site5 {
  top: 12%;
}
.section2 .site__title h2 {
  font-size: 4vw;
  justify-content: center;
  font-family: "OKDdung";
  color: #1b9142;
  margin-bottom: 2%;
  text-align: center;
}
.section2 .site__title .ball {
  position: absolute;
  top: 30px;
  right: 30px;
  border-radius: 50%;
  font-family: "OKDdung";
  text-align: center;
  line-height: 10vw;
  font-size: 4vw;
  color: #f7e8d6;
  width: 10vw;
  height: 10vw;
  background-color: #1b9142;
  transition: all 0.3s;
  transform: rotate(0)
}
.section2 .site__title .ball:hover {
  transform: rotate(360deg)
}
.section2 .site__contents {
  display: flex;
  overflow: hidden;
}
.section2 .site__left {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 17%;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 2%;
}
.section2 .site__left .view {
  background-color: rgba(27, 145, 66, 0.2);
  color: #1b9142;
  border-radius: 20px;
  display: inline-block;
  width: 12vw;
  font-size: 1.5vw;
  line-height: 4vw;
  text-align: center;
  height: 4vw;
  font-family: "BMJua";
  transition: all 0.3s;
}
.section2 .site__left .view:hover {
  color: #bef0cd;
  background-color: #1b9142;
}
.section2 .site__left .arrow {
  margin-top: 16%;
  width: 5vw;
}
.section2 .site__img {
  width: 33%;
}
.section2 .site__img img {
  width: 100%;
}
.section2 .site__right {
  width: 50%;
  box-sizing: border-box;
  padding: 2% 2% 0 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section2 .site__right .arrow {
  width: 12%;
  transform: rotate(180deg);
}
.section2 .site__right .view {
  background-color: rgba(27, 145, 66, 0.2);
  color: #1b9142;
  border-radius: 20px;
  display: inline-block;
  width: 12vw;
  font-size: 1.5vw;
  margin-bottom: 2%;
  line-height: 4vw;
  text-align: center;
  height: 4vw;
  font-family: "BMJua";
  transition: all 0.3s;
}
.section2 .site__right .view:hover {
  color: #bef0cd;
  background-color: #1b9142;
}
.section2 .site__right .desc {
  background-color: rgba(27, 145, 66, 0.2);
  color: #1b9142;
  font-size: 1.2vw;
  box-sizing: border-box;
  width: 100%;
  padding: 5%;
  border-radius: 20px;
  line-height: 1.4;
}

/* section3 */
.section3 {
  overflow: hidden;
}
.section3 .sec1 {
  z-index: 10;
  background-color: #ff6235;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}
.section3 .sec1 .box {
  width: 70%;
  position: relative;
}
.section3 .sec1 #monsters {
  width: 70%;
  left: 0;
  right: 0;
  z-index: 1;
  position: absolute;
  top: -15%;
  margin: 0 auto;
}
.section3 .sec1 h2 {
  color: #f7e8d6;
  font-family: "OKDdung";
  text-align: center;
  z-index: 2;
  position: relative;
  margin-top: 160px;
  margin-bottom: 30px;
  font-size: 9vw;
}
.section3 .sec1 p {
  z-index: 2;
  color: #f7e8d6;
  position: relative;
  font-size: 1.5vw;
  text-align: center;
  font-family: "BMJua";
}
.section3 .sec1 p span{
  min-width: 0.5vw;
}
.section3 .sec2 {
  /* .section3 .sec3,
.section3 .sec4,
.section3 .sec5,
.section3 .sec6 { */
  background-color: #ff6235;
  z-index: 10;
  width: 500%;
  display: flex;
  position: relative;
}
.section3 .site {
  position: relative;
  background-color: #f7e8d6;
  border-radius: 20px;
  border: 3px solid #ff6235;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  padding: 1%;
  display: flex;
  flex-direction: column;
}
.section3 .site__title h2 {
  font-size: 4vw;
  justify-content: center;
  font-family: "OKDdung";
  color: #ff6235;
  text-align: center;
  margin-bottom: 5%;
}
.section3 .site__title .ball {
  position: absolute;
  top: 30px;
  right: 30px;
  border-radius: 50%;
  font-family: "OKDdung";
  text-align: center;
  line-height: 10vw;
  font-size: 4vw;
  color: #f7e8d6;
  width: 10vw;
  height: 10vw;
  transition: all 0.3s;
  transform: rotate(0);
  background-color: #ff6235;
}
.section3 .site__title .ball:hover {
  transform: rotate(360deg)
}
.section3 .site__contents {
  display: flex;
  overflow: hidden;
}
.section3 .site__left {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 17%;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 2%;
}
.section3 .site__left .view {
  background-color: rgba(255, 98, 53, 0.2);
  color: #ff6235;
  border-radius: 20px;
  margin-bottom: 7%;
  display: inline-block;
  width: 12vw;
  font-size: 1.5vw;
  line-height: 4vw;
  text-align: center;
  height: 4vw;
  font-family: "BMJua";
  transition: all 0.3s;
}
.section3 .site__left .view:hover {
  color: #ffa48b;
  background-color: #ff6235;
}
.section3 .site__left .arrow {
  width: 5vw;
  margin-top: 16%;
}
.section3 .site__img {
  width: 33%;
}
.section3 .site__img img {
  width: 100%;
}
.section3 .site__right {
  width: 50%;
  box-sizing: border-box;
  padding: 2% 2% 0 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section3 .site__right .arrow {
  width: 12%;
  transform: rotate(180deg);
}
.section3 .site__right .view {
  background-color: rgba(255, 98, 53, 0.2);
  color: #ff6235;
  border-radius: 20px;
  display: inline-block;
  width: 12vw;
  font-size: 1.5vw;
  margin-bottom: 2%;
  line-height: 4vw;
  text-align: center;
  height: 4vw;
  transition: all 0.3s;
  font-family: "BMJua";
}
.section3 .site__right .view:hover {
  color: #ffa48b;
  background-color: #ff6235;
}
.section3 .site__right .desc {
  background-color: rgba(255, 98, 53, 0.2);
  color: #ff6235;
  font-size: 1.2vw;
  box-sizing: border-box;
  width: 100%;
  padding: 5%;
  border-radius: 20px;
  line-height: 1.4;
}
.section3 .sec3 {
  background-color: #ff6235;
  z-index: 10;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.section3 .sec3__title {
  position: relative;
  margin-bottom: 2%;
}
.section3 .sec3__title #monsters {
  width: 40%;
  left: -40%;
  top: -30%;
  z-index: 1;
  position: absolute;
}
.section3 .sec3__title h2 {
  color: #f7e8d6;
  font-family: "OKDdung";
  text-align: center;
  line-height: 1;
  z-index: 2;
  position: relative;
  font-size: 5vw;
}
.section3 .sec3__title a {
  position: absolute;
  transform: rotate(90deg);
  z-index: 1;
  width: 40%;
  right: -45%;
  opacity: 0;
  top: -60%;
  transition: all 0.3s;
}
.section3 .sec3__title a:hover {
  right: -50% !important;
}
.section3 .sec3__desc {
  width: 60%;
  min-height: 7vw;
}
.section3 .sec3__desc p {
  z-index: 2;
  color: #f7e8d6;
  position: relative;
  font-size: 1.5vw;
  text-align: center;
  font-family: "BMJua";
}
.section3 .sec3__desc p span {
  min-width: 0.5vw;
}
.section3 .sec3__contents {
  width: 110%;
  background-color: #ff6235;
  justify-content: center;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
}
.section3 .sec3__contents span {
  border: 15px solid rgba(251, 167, 135, 1);
  background-color: rgba(253, 131, 91, 1);
  border-radius: 20%;
  margin: 1%;
  width: 9%;
  padding-bottom: 9%;
  opacity: 0.6;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
}
.section3 .sec3__contents span:hover {
  opacity: 1 !important;
  transition: all 0.3s;
}
.section3 .sec3__contents span:nth-child(2) {
  background-image: url(img/portfolio__05.png);
}
.section3 .sec3__contents span:nth-child(3) {
  background-image: url(img/portfolio__05.png);
  background-position: 12.5%;
}
.section3 .sec3__contents span:nth-child(4) {
  background-image: url(img/portfolio__05.png);
  background-position: 25%;
}
.section3 .sec3__contents span:nth-child(5) {
  background-image: url(img/portfolio__05.png);
  background-position: 37.5%;
}
.section3 .sec3__contents span:nth-child(6) {
  background-image: url(img/portfolio__05.png);
  background-position: 50%;
}
.section3 .sec3__contents span:nth-child(12) {
  background-image: url(img/portfolio__05.png);
  background-position: 62.5%;
}
.section3 .sec3__contents span:nth-child(13) {
  background-image: url(img/portfolio__05.png);
  background-position: 75%;
}
.section3 .sec3__contents span:nth-child(14) {
  background-image: url(img/portfolio__05.png);
  background-position: 87.5%;
}
.section3 .sec3__contents span:nth-child(15) {
  background-image: url(img/portfolio__05.png);
  background-position: 100%;
}

/* section4 */
.section4 {
  overflow: hidden;
  position: relative;
  background-color: #ff9d00;
  z-index: 5;
}
.section4 .sec1 {
  background-color: #ff9d00;
  z-index: 10;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section4 .sec1 .box {
  width: 70%;
  position: relative;
}
.section4 .sec1 #monsters {
  width: 60%;
  z-index: 1;
  left: 0;
  right: 0;
  top: -15%;
  position: absolute;
}
.section4 .sec1 #monsters .monsters {
}
.section4 .sec1 h2 {
  color: #f7e8d6;
  font-family: "OKDdung";
  text-align: center;
  z-index: 2;
  position: relative;
  margin-top: 160px;
  margin-bottom: 30px;
  font-size: 9vw;
}
.section4 .sec1 p {
  z-index: 2;
  color: #f7e8d6;
  position: relative;
  font-size: 1.5vw;
  text-align: center;
  font-family: "BMJua";
}
.section4 .sec1 p span{
  min-width: 0.5vw;
}
.section4 .sec2 {
  /* .section4 .sec3,
.section4 .sec4,
.section4 .sec5,
.section4 .sec6 { */
  background-color: #ff9d00;
  z-index: 10;
  position: relative;
}
.section4 .site {
  background-color: #f7e8d6;
  position: absolute;
  box-sizing: border-box;
  border-radius: 20px;
  border: 3px solid #ff9d00;
  width: 100%;
  height: 100vh;
  padding: 1%;
  flex-direction: column;
}
.section4 .site.site2 {
  left: -100%;
}
.section4 .site.site3 {
  left: -200%;
}
.section4 .site__title h2 {
  font-size: 5vw;
  justify-content: center;
  font-family: "OKDdung";
  color: #ff9d00;
  margin-bottom: 5%;
  text-align: center;
}
.section4 .site__title .ball {
  position: absolute;
  top: 40px;
  right: 40px;
  border-radius: 50%;
  font-family: "OKDdung";
  text-align: center;
  line-height: 10vw;
  font-size: 4vw;
  color: #f7e8d6;
  width: 10vw;
  height: 10vw;
  background-color: #ff9d00;
  transition: all 0.3s;
  transform: rotate(0)
}
.section4 .site__title .ball:hover {
  transform: rotate(360deg)
}
.section4 .site__contents {
  display: flex;
  overflow: hidden;
}
.section4 .site__left {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 17%;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 2%;
}
.section4 .site__left .view {
  background-color: rgba(255, 157, 0, 0.2);
  color: #ff9d00;
  border-radius: 20px;
  margin-bottom: 35%;
  display: inline-block;
  width: 12vw;
  font-size: 1.5vw;
  line-height: 4vw;
  text-align: center;
  height: 4vw;
  transition: all 0.3s;
  font-family: "BMJua";
}
.section4 .site__left .view:hover {
  background-color: #ff9d00;
  color: #ffcc79;
}
.section4 .site__left .arrow {
  margin-top: 16%;
  width: 5vw;
}
.section4 .site__img {
  width: 33%;
}
.section4 .site__img img {
  width: 100%;
}
.section4 .site__right {
  width: 50%;
  box-sizing: border-box;
  padding: 2% 2% 0 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section4 .site__right .arrow {
  width: 12%;
  transform: rotate(180deg);
}
.section4 .site__right .view {
  background-color: rgba(255, 157, 0, 0.2);
  color: #ff9d00;
  border-radius: 20px;
  display: inline-block;
  width: 12vw;
  font-size: 1.5vw;
  line-height: 4vw;
  text-align: center;
  height: 4vw;
  font-family: "BMJua";
  transition: all 0.3s;
}
.section4 .site__right .view:hover {
  background-color: #ff9d00;
  color: #ffcc79;
}
.section4 .site__right .desc {
  background-color: rgba(255, 157, 0, 0.2);
  color: #ff9d00;
  font-size: 1.2vw;
  box-sizing: border-box;
  width: 100%;
  padding: 5%;
  border-radius: 20px;
  line-height: 1.4;
}
.section4 .sec3 {
  background-color: #ff9d00;
  z-index: 10;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.section4 .sec3__title {
  position: relative;
}
.section4 .sec3__title #monsters {
  width: 30%;
  top: -20%;
  left: -25%;
  z-index: 1;
  position: absolute;
}
.section4 .sec3__title h2 {
  color: #f7e8d6;
  font-family: "OKDdung";
  text-align: center;
  margin-bottom: 5%;
  z-index: 2;
  position: relative;
  font-size: 5vw;
}
.section4 .sec3__contents {
  width: 90%;
}
.section4 .sec3__contents .input {
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.section4 .sec3__contents .input__name {
  width: 20%;
}
.section4 .sec3__contents .input__name input {
  border-radius: 10px;
  box-sizing: border-box;
  border: none;
  font-size: 2vw;
  padding: 10px 15px;
  color: #222;
  width: 100%;
}
.section4 .sec3__contents .input__comment {
  width: 55%;
}
.section4 .sec3__contents .input__comment input {
  padding: 10px 15px;
  border-radius: 10px;
  color: #222;
  box-sizing: border-box;
  border: none;
  font-size: 2vw;
  width: 100%;
}
.section4 .sec3__contents .input__button {
  width: 20%;
}
.section4 .sec3__contents .input__button button {
  width: 100%;
  background-color: rgba(255, 102, 49, 0.8);
  color: #f7e8d6;
  padding: 10px 15px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: "OKddung";
  font-size: 2vw;
  transition: all 0.3s;
  border-radius: 10px;
}
.section4 .sec3__contents .input__button button:hover {
  background-color: #ff6631;
}

.section4 .sec3__contents .comments {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}
.section4 .sec3__contents .comments div {
  width: 24%;
  box-sizing: border-box;
  padding: 2%;
  height: 24%;
  background-image: url(img/portfolio__06.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.section4 .sec3__contents .comments__name {
  margin-top: 5%;
  max-width: 100%;
  display: inline-block;
  background-color: #ff6631;
  border-radius: 50px;
  color: #f7e8d6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  padding: 7px 12px;
  font-size: 1.5vw;
}
.section4 .sec3__contents .comments__comment {
  margin-top: 5%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-size: 1.5vw;
}
.section4 .sec3__contents .comments__date {
  margin: 5% 0;
  display: block;
  font-size: 1.2vw;
  color: #888;
  text-align: right;
}
.section4 .sec3__contents .comments__page {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.section4 .sec3__contents .comments__page a {
  width: 3.8%;
  padding-bottom: 4.2%;
  background-image: url(../assets/img/portfolio__07.png);
  background-size: cover;
  background-position: center;
}
.section4 .sec3__contents .comments__page a:nth-child(2) {
  transform: rotate(180deg);
}

/* section5 */
.section5 .sec1 {
  position: relative;
  background-color: #1b9142;
  z-index: 10;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section5 .sec1__decoration {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #107531;
  z-index: 0;
  font-size: 8vw;
  line-height: 1.1;
  text-transform: uppercase;
  font-family: "OKDdung";
}
.section5 .sec1__decoration div:nth-child(odd) {
  margin-left: -10vw;
}
.section5 .sec1 h2 {
  font-size: 8vw;
  line-height: 1.2;
  transform: translate(-50%, -50%);
  color: #f7e8d6;
  font-family: "OKDdung";
  left: 50%;
  top: 50%;
  z-index: 1;
  position: absolute;
}
.section5 .sec2 {
  background-color: #1b9142;
  z-index: 10;
  height: 100vh;
  position: relative;
  display: flex;
  cursor: none;
  justify-content: center;
  align-items: center;
}
.section5 .sec2 .cursor {
  position: absolute;
  width: 8%;
  right: 0;
  user-select: none;
  bottom: 0%;
  z-index: 5;
}
.section5 .sec2 .coin {
  width: 30%;
  position: relative;
  opacity: 0;
  margin: 5%;
}
.section5 .sec2 .coin .bg {
  position: absolute;
  width: 140%;
  top: -20%;
  z-index: 1;
  left: -20%;
}
.section5 .sec2 .coin .arrow1 {
  position: absolute;
  width: 30%;
  top: -20%;
  opacity: 0;
  transition: opacity 0.5s;
  left: 20%;
}
.section5 .sec2 .coin .arrow1__text {
  position: absolute;
  font-size: 2vw;
  top: -22.5%;
  opacity: 0;
  transition: opacity 0.5s;
  color: #f7e8d6;
}
.section5 .sec2 .coin .arrow1.right {
  position: absolute;
  transform: scaleX(-1);
  width: 30%;
  top: -20%;
  left: 50%;
}
.section5 .sec2 .coin .arrow1__text.right {
  position: absolute;
  font-size: 2vw;
  top: -22.5%;
  right: 0;
  color: #f7e8d6;
}
.section5 .sec2 .coin .arrow2 {
  position: absolute;
  width: 30%;
  opacity: 0;
  transition: opacity 0.5s;
  top: 90%;
  transform: rotate(180deg);
  left: 70%;
}
.section5 .sec2 .coin .arrow2__text {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
  font-size: 2vw;
  top: 110%;
  left: -20%;
  color: #f7e8d6;
}
.section5 .sec2 .coin .arrow3 {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
  width: 30%;
  transform: scaleX(-1) rotate(180deg);
  top: 90%;
}
.section5 .sec2 .coin .arrow3__text {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
  font-size: 2vw;
  top: 110%;
  right: -20%;
  color: #f7e8d6;
}
.section5 .sec2 .coin .front {
  background-color: #f7e8d6;
  position: absolute;
  z-index: 3;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  transition: transform 1s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.section5 .sec2 .coin .back {
  z-index: 2;
  position: relative;
  transition: transform 1s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.section5 .sec2 .coin .front {
  transform: rotateY(0deg);
}
.section5 .sec2 .coin:hover .front {
  transform: rotateY(180deg) !important;
}
.section5 .sec2 .coin:hover .arrow1 {
  opacity: 1;
}
.section5 .sec2 .coin:hover .arrow1__text {
  opacity: 1;
}
.section5 .sec2 .coin:hover .arrow2 {
  opacity: 1;
}
.section5 .sec2 .coin:hover .arrow2__text {
  opacity: 1;
}
.section5 .sec2 .coin:hover .arrow3 {
  opacity: 1;
}
.section5 .sec2 .coin:hover .arrow3__text {
  opacity: 1;
}
.section5 .sec2 .coin .back {
  transform: rotateY(-180deg);
}
.section5 .sec2 .coin:hover .back {
  transform: rotateY(0deg);
}
.section5 .sec3 {
  background-color: #1b9142;
  display: flex;
  position: relative;
  z-index: 10;
  justify-content: center;
  align-items: center;
}
.section5 .sec3 .sec3__contents {
  background-color: #f7e8d6;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  box-sizing: border-box;
  border-radius: 20px;
}
.section5 .sec3 .sec3__contents h2 {
  color: #1b9142;
  font-family: "OKDdung";
  font-size: 5vw;
  text-align: center;
  margin-bottom: 5%;
}
.section5 .sec3 .sec3__contents img:nth-child(2) {
  width: 30%;
  position: relative;
  margin-bottom: 5%;
  z-index: 2;
}
.section5 .sec3 .sec3__contents img:nth-child(3) {
  position: absolute;
  width: 29%;
  top: 29%;
}
.section5 .sec3 .sec3__contents .sec3__text {
  position: absolute;
}
.section5 .sec3 .sec3__contents .sec3__text.text1 {
  top: 22%;
}
.section5 .sec3 .sec3__contents .sec3__text.text2 {
  top: 36%;
  left: 28%;
}
.section5 .sec3 .sec3__contents .sec3__text.text3 {
  top: 70%;
  left: 18%;
}
.section5 .sec3 .sec3__contents .sec3__text.text4 {
  bottom: 5%;
}
.section5 .sec3 .sec3__contents .sec3__text.text5 {
  top: 70%;
  right: 27%;
}
.section5 .sec3 .sec3__contents .sec3__text.text6 {
  top: 36%;
  right: 27%;
}
.section5 .sec3 .sec3__contents .sec3__text span:nth-child(1) {
  color: #1b9142;
  font-size: 2vw;
}
.section5 .sec3 .sec3__contents .sec3__text span:nth-child(2) {
  color: #ff6235;
  font-size: 2vw;
}
.section5 .sec4 {
  display: flex;
  flex-direction: column;
  background-color: #1b9142;
  position: relative;
  z-index: 10;
  bottom: 0;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
.section5 .sec4 p {
  font-size: 9vw;
  display: block;
  line-height: 1.2;
  font-family: "OKDdung";
  color: #f7e8d6;
}
.section5 .sec4 a {
  margin-top: 2%;
  color: #107531;
  font-family: "OKDdung";
  transition: all 0.3s;
  font-size: 4vw;
}
.section5 .sec4 a:hover {
  color: #f7e8d6;
}
/* .section5 .sec2 .coin::after {
  position: absolute;
  top: 0;
  content: '';
  z-index: 1;
  background: url(img/portfolio__10.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
} */
@media(max-width: 1834px){
  .section3 .sec3__contents span.decoration:nth-child(7),
  .section3 .sec3__contents span.decoration:nth-child(16) {
    display: none;
  }
}
@media(max-width: 846px){
  .section3 .sec3__contents span {
    border: 8px solid rgba(251, 167, 135, 1);
  }
  .section3 .sec3__desc {
    width: 90%;
  }
}
@media(max-width: 700px){
  .section3 .sec3__contents span.decoration:nth-child(9){
    display: none;
  }
  .section3 .sec3__contents span.decoration:nth-child(16) {
    display: block;
  }
}
@media (max-width: 1200px) {
  #header h1 {
    font-size: 16px;
  }
  #header nav {
    font-size: 16px;
  }
  .section2 .sec1 h2 {
    margin-bottom: 15px;
  }
  .section2 .sec1 p {
    font-size: 16px;
  }
  .section3 .sec1 h2 {
    margin-bottom: 15px;
  }
  .section3 .sec1 p {
    font-size: 16px;
  }
  .section3 .sec3 h2 {
    margin-bottom: 15px;
  }
  .section3 .sec3 p {
    font-size: 16px;
  }
  .section4 .sec1 h2 {
    margin-bottom: 15px;
  }
  .section4 .sec1 p {
    font-size: 16px;
  }
  .section4 .sec3 h2 {
    margin-bottom: 15px;
  }
  .section4 .sec3__contents .input {
    margin-bottom: 15px;
  }
}
